<!-- Page Header Start -->
<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">About Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="img/about-1.jpg" alt="" style="object-fit: cover;">
                    <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="img/about-2.jpg" alt="" style="width: 200px; height: 200px;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="text-primary text-uppercase mb-2">About Us</h6>
                    <h1 class="display-6 mb-4">We Help Students To Pass Test & Get A License On The First Try</h1>
                    <p>We help students pass their driving test and get their license on the first try. Our driving school offers flexible and accommodating lessons tailored to fit every schedule.</p>
                    <p class="mb-4">Our expert instructors provide personalized instruction, ensuring students gain the necessary skills and confidence for safe driving.</p>
                    <div class="row g-2 mb-4 pb-2">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Flexible Scheduling
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Personalized Instruction
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>High Success Rate
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Supportive Learning Environment
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-sm-6">
                            <a class="btn btn-primary py-3 px-5" asp-action="Index" asp-controller="Courses">Courses</a>
                        </div>
                        <div class="col-sm-6">
                            <a class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2" asp-action="Index" asp-controller="Contact">
                                
                                <span class="flex-shrink-0 btn-square bg-primary">
                                    <i class="fa fa-envelope text-white"></i>
                                </span>
                                <span class="px-3">Contact Us</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Features Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-primary text-uppercase mb-2">Why Choose Us!</h6>
                <h1 class="display-6 mb-4">Best Driving Training Agency In Your City</h1>
                <p class="mb-5">Our driving school stands out as the best driving training agency in your city, dedicated to providing top-notch education and support to all our students. Here’s why you should choose us:</p>
                <div class="row gy-5 gx-4">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <h5 class="mb-0">Flexible Scheduling</h5>
                        </div>
                        <span>We offer a variety of lesson times to accommodate your busy lifestyle.</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <h5 class="mb-0">Personalized Instruction</h5>
                        </div>
                        <span>Lessons tailored to your individual learning pace and needs.</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <h5 class="mb-0">High Success Rate</h5>
                        </div>
                        <span>Our proven methods result in a high first-time pass rate for our students.</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <h5 class="mb-0">Supportive Learning Environment</h5>
                        </div>
                        <span>We create a friendly and encouraging atmosphere to help you feel at ease behind the wheel.</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <h5 class="mb-0">Affordable Fees</h5>
                        </div>
                        <span>Our driving lessons are offered at competitive and affordable rates without compromising on quality.</span>
                    </div>
                    @* <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <h5 class="mb-0">Areas We Serve</h5>
                        </div>
                        <span> We proudly offer our services in the following post codes: <strong>B27, B28, B26, B11, B90, B91, B92.</strong></span>
                    </div> *@
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <h5 class="mb-0">Areas We Serve</h5>
                        </div>

                        <span>
                            We provide <strong>manual driving lessons</strong> in the following Birmingham postcodes:<br><br>

                            <strong>Main Service Areas:</strong><br>
                            B27, B28, B26, B11<br><br>

                            <strong>Subject to Availability:</strong><br>
                            B25, B90, B91, B92
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative overflow-hidden pe-5 pt-5 h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="img/about-1.jpg" alt="" style="object-fit: cover;">
                    <img class="position-absolute top-0 end-0 bg-white ps-3 pb-3" src="img/about-2.jpg" alt="" style="width: 200px; height: 200px">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
<!-- Team Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h6 class="text-primary text-uppercase mb-2">Meet The Team</h6>
            <h1 class="display-6 mb-4">We Have Great Experience Of Driving</h1>
        </div>
        <div class="row g-0 team-items justify-content-center">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative ">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/Usman Bhai.jpeg" alt="">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Usman Majeed</h5>
                        <span>Trainer</span>
                    </div>
                </div>
            </div>
            @* <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/team-2.jpg" alt="">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Full Name</h5>
                        <span>Trainer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/team-3.jpg" alt="">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Full Name</h5>
                        <span>Trainer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/team-4.jpg" alt="">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Full Name</h5>
                        <span>Trainer</span>
                    </div>
                </div>
            </div> *@
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Learners Notice Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-primary text-uppercase mb-2">Terms and Conditions</h6>
            <h1 class="display-6 mb-4">Important Information for All Students</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-light text-dark p-4 rounded">

                    <h5 class="mb-3"><strong>Provisional Licence</strong></h5>
                    <p>Learners must bring their provisional driving licence to their first lesson.</p>

                    <h5 class="mb-3"><strong>Lesson Time</strong></h5>
                    <p>All lessons are booked for either 1-hour or 2-hour durations. Instructors may occasionally arrive late due to traffic or other unavoidable circumstances; however, the full lesson time will be provided from the time of arrival. Instructors may also arrive 5–10 minutes early, and learners should be ready accordingly.</p>

                    <h5 class="mb-3"><strong>Cancelling or Changing a Lesson</strong></h5>
                    <p>To cancel or change a lesson, learners must notify the instructor at least 24 hours in advance for a 1-hour lesson and 48 hours in advance for a 2-hour lesson. Failure to provide the required notice will result in a charge for the full lesson duration.</p>

                    <h5 class="mb-3"><strong>Lesson Day Non-Attendance</strong></h5>
                    <p>If a learner does not attend their scheduled lesson, the full lesson fee will still be charged. Instructors will wait at the pickup location for up to 10–15 minutes, after which the lesson will be considered cancelled.</p>

                    <h5 class="mb-3"><strong>Instructor Cancellations</strong></h5>
                    <p>Instructors reserve the right to cancel lessons due to illness, vehicle breakdown, extreme weather, or other unforeseen circumstances. Learners will not be charged for instructor-initiated cancellations.</p>

                    <h5 class="mb-3"><strong>Payment</strong></h5>
                    <p>Payment must be made for every lesson. Further payment details will be provided by the instructor before the first booking.</p>

                    <h5 class="mb-3"><strong>Test Day Charges</strong></h5>
                    <p>The current test day charge is £120.00 (subject to change). This includes a one-hour lesson before the test and the use of the instructor’s vehicle for the practical test.</p>

                    <h5 class="mb-3"><strong>Fitness to Drive</strong></h5>
                    <p>Learners must not be under the influence of alcohol or drugs. The instructor may terminate the lesson immediately if impairment is suspected.</p>

                    <h5 class="mb-3"><strong>Medical Conditions</strong></h5>
                    <p>Learners must inform the instructor of any medical conditions or medications that could affect their ability to drive safely.</p>

                    <h5 class="mb-3"><strong>Eyesight</strong></h5>
                    <p>Learners must be able to read a standard vehicle number plate from a distance of 20–20.5 metres.</p>

                    <h5 class="mb-3"><strong>Vehicle Use for Tests</strong></h5>
                    <p>The instructor has the final decision on whether their vehicle can be used for a driving test based on the learner’s readiness and driving ability.</p>

                    <h5 class="mb-3"><strong>DVSA Test Cancellations</strong></h5>
                    <p>If the DVSA cancels a driving test, the instructor is not liable for any lost fees, including test day charges. Assistance may be provided to help claim compensation from the DVSA where applicable.</p>

                    <h5 class="mb-3"><strong>Booking Responsibility</strong></h5>
                    <p>While instructors may offer guidance, learners are responsible for booking their test and informing the instructor as soon as the test date is confirmed.</p>

                    <h5 class="mb-3"><strong>Vehicle Standards</strong></h5>
                    <p>Instructors provide a dual-controlled, roadworthy, taxed, and fully insured vehicle.</p>

                    <h5 class="mb-3"><strong>Professional Conduct</strong></h5>
                    <p>Instructors follow the DVSA Code of Practice, ensuring professional, respectful, and courteous behaviour at all times.</p>

                    <h5 class="mb-3"><strong>Fines and Penalties</strong></h5>
                    <p>Learners are responsible for any fines or penalties incurred during lessons, including speeding or parking offences.</p>

                    <h5 class="mb-3"><strong>Liability</strong></h5>
                    <p>Neither the driving school nor the instructor is liable for accidents caused by learner negligence or reckless behaviour.</p>

                    <h5 class="mb-3"><strong>Complaints</strong></h5>
                    <p>Any concerns or complaints should be raised directly with the instructor or the driving school.</p>

                    <p class="mb-0"><strong>Thank you for your cooperation.</strong></p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Learners Notice End -->
